version: '3.8'

services:
  db:
    image: arangodb:latest
    ports:
      - "8529:8529"
    environment:
      ARANGO_NO_AUTH: 1
    volumes:
      - ./data/db:/var/lib/arangodb3

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
