@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-imap-dark text-white;
    font-family: 'Poppins', sans-serif;
  }

  button {
    @apply rounded-none;
  }
}